select{
    
    display:inline-block;
    margin:10px;
    
}

p{
    margin-right:0px;
    margin-left:10px;
    display:inline-block;
}

table, th, td{
    border-spacing:30px;
    border: 1px solid black;
    border-collapse: collapse;
}

td, th{
    padding: 5px;
    width:300px;
}



.hidden{
    display:none;
}

.hidden_stats{
    display:none;
}

.hidden_features{
    padding: 10px;
    margin:0px;
}

#min-label{
    margin-left:10px;
}

#hiddenHalfElf, #hiddenDragonborn, #hiddenClassSkills, #hiddenBardSkills, #HOSkill, #HESkill{
    display:none;
}

.mainCollapsible {
  background-color:#5c5757;
  color: #efecec;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display:none;
}

.collapsible{
  background-color: #62929a;
  color: #efecec;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display:inherit;
}

.active, .mainCollapsible:hover, .collapsible:hover {
  background-color: #121435;
}

.content, .mainContent, .lvlContent, .racialBonuses {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.mainContent, .lvlContent, .racialBonuses{
background-color: #e4f1fe;    
}

.collapsible:after, .mainCollapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


#spellSpace{
    border-left-color: white;
    border-top-color: white;
}
