select{
    
    display:inline-block;
    margin:10px;
    
}

p{
    margin-right:0px;
    margin-left:10px;
    display:inline-block;
}

table, th, td{
    border-spacing:30px;
    border: 1px solid black;
    border-collapse: collapse;
}

td, th{
    padding: 5px;
    width:300px;
}



.hidden{
    display:none;
    /*switch to this when showing - display:table;*/
}

.hidden_stats{
    display:none;
}

.hidden_features{
    padding: 10px;
    margin:0px;
}

#min-label{
    margin-left:10px;
}